<div class="offcanvas offcanvas-end" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Listado de tareas</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div *ngFor="let tarea of listaTareas">
      <div class="card " [ngStyle]="{ 'background-color': getColorCaja(tarea.estado) }">
        <div class="card-body">
          <h5   [ngStyle]="{ 'color': getColorTitulo(tarea.tipologia) }" class="card-title">{{ tarea.titulo }}</h5>
          <p class="card-text">{{ tarea.descripcion }}</p>
          <div class="d-flex justify-content-evenly">
            <a href="#" class="btn btn-primary"> Modificar</a>
            <a href="#" class="btn btn-danger"> Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-absolute start-100 top-50 translate-middle botonMenu">
  <button
    class="btn btn-secondary"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#demo"
  >
    <span class="bi bi-chevron-right">></span>
  </button>
</div>
